---
layout: default
classes: front
---
<h1 id="punchline"><strong>Turku Agile Day</strong>, the coziest agile software<br> development conference, will be back in May 2012</h1>
<section class="boxes clearfix">
  <article class="column third">
    <hgroup>
      <p class="preheading">with</p>
      <h2><span class="count">8</span> workshops <br><span>on May 15<sup>th</sup></span></h2>
    </hgroup>
    <p>Choose a concrete technical practice (TDD, BDD or Git) or a topic helping us to change the world we are living in. The workshops answer you questions about lean startup, creating product vision or tools for an agile liftoff.</p>
    <p class="call-to-action"><a href="/topics/">Learn more</a></p>
  </article>
  
  <article class="column third">
    <hgroup>
      <p class="preheading">and</p>
      <h2><span class="count">14</span> talks <br><span>on May 16<sup>th</sup></span></h2>
    </hgroup>
    <p>Keynotes by Lisa Crispin and Linda Rising encompasses four tracks of topics ranging from Finnish case studies to testing practices and basics of why agile works. If you enjoy coffee and discussion, you might choose the conversational track located in the cozy lounge.</p>
    <p class="call-to-action"><a href="/topics/#talks">Learn more</a></p>
  </article>
  
  <article class="column third">
    <hgroup>
      <p class="preheading">plus</p>
      <h2><span class="count">1</span> competition <br><span>never seen before</span></h2>
    </hgroup>
    <p>Come and join the testing fun with Lisa Crispin and Elisabeth Hendrickson! A full day of intensive testing, learning and fun. Watch the contestants to do some tricky testing challenges. enjoy the supportive judging and more. And you get to choose the winner.</p>
    <p class="call-to-action"><a href="/topics/testing-with-the-stars/">Test with the stars</a></p>
  </article>
</section>

<section class="boxes clearfix" id="speakers">
  <article>
    <hgroup class="column third">
      <p class="preheading">starring</p>
      <h2><span class="count">19</span> speakers <br><span> top class</span></h2>
    </hgroup>
    
    <figure class="speaker first">
      <a href="/speakers/#marcus-ahnve">
        <img src="/speakers/faces/marcus_ahnve.jpg">
        <figcaption>Marcus Ahnve</figcaption>
      </a>
    </figure>
    <figure class="speaker">
      <a href="/speakers/#jaakko-aro">
        <img src="/speakers/faces/jaakko_aro.jpg">
        <figcaption>Jaakko Aro</figcaption>
      </a>
    </figure>
    <figure class="speaker">
      <a href="/speakers/#jason-ayers">
        <img src="/speakers/faces/jason_ayers.jpg">
        <figcaption>Jason Ayers</figcaption>
      </a>
    </figure>
    <figure class="speaker">
      <a href="/speakers/#daniel-brolund">
        <img src="/speakers/faces/daniel_brolund.jpg">
        <figcaption>Daniel Brolund</figcaption>
      </a>
    </figure>
    <figure class="speaker">
      <a href="/speakers/#lisa-crispin">
        <img src="/speakers/faces/lisa_crispin.jpg">
        <figcaption>Lisa Crispin</figcaption>
      </a>
    </figure>
    <figure class="speaker">
      <a href="/speakers/#vasco-duarte">
        <img src="/speakers/faces/vasco_duarte.jpg">
        <figcaption>Vasco Duarte</figcaption>
      </a>
    </figure>
    <figure class="speaker">
      <a href="/speakers/#elisabeth-hendrickson">
        <img src="/speakers/faces/elisabeth_hendrickson.jpg">
        <figcaption>Elisabeth Hendrickson</figcaption>
      </a>
    </figure>
    <figure class="speaker">
      <a href="/speakers/#jarkko-jarvenpaa">
        <img src="/speakers/faces/jarkko_jarvenpaa.jpg">
        <figcaption>Jarkko Järvenpää</figcaption>
      </a>
    </figure>
    <figure class="speaker">
      <a href="/speakers/#eemeli-kantola">
        <img src="/speakers/faces/eemeli_kantola.jpg">
        <figcaption>Eemeli Kantola</figcaption>
      </a>
    </figure>
    <figure class="speaker">
      <a href="/speakers/#marko-klemetti">
        <img src="/speakers/faces/marko_klemetti.jpg">
        <figcaption>Marko Klemetti</figcaption>
      </a>
    </figure>
    <figure class="speaker">
      <a href="/speakers/#diana-larsen">
        <img src="/speakers/faces/diana_larsen.jpg">
        <figcaption>Diana Larsen</figcaption>
      </a>
    </figure>
    <figure class="speaker">
      <a href="/speakers/#anssi-lehtela">
        <img src="/speakers/faces/anssi_lehtela.jpg">
        <figcaption>Anssi Lehtelä</figcaption>
      </a>
    </figure>
    <figure class="speaker">
      <a href="/speakers/#pierluigi-pugliese">
        <img src="/speakers/faces/pierluigi_pugliese.jpg">
        <figcaption>Pierluigi Pugliese</figcaption>
      </a>
    </figure>
    <figure class="speaker">
      <a href="/speakers/#jyrki-pulliainen">
        <img src="/speakers/faces/jyrki_pulliainen.jpg">
        <figcaption>Jyrki Pulliainen</figcaption>
      </a>
    </figure>
    <figure class="speaker">
      <a href="/speakers/#linda-rising">
        <img src="/speakers/faces/linda_rising.jpg">
        <figcaption>Linda Rising</figcaption>
      </a>
    </figure>
    <figure class="speaker">
      <a href="/speakers/#ville-svard">
        <img src="/speakers/faces/ville_svard.jpg">
        <figcaption>Ville Svärd</figcaption>
      </a>
    </figure>
    <figure class="speaker">
      <a href="/speakers/#matt-wynne">
        <img src="/speakers/faces/matt_wynne.jpg">
        <figcaption>Matt Wynne</figcaption>
      </a>
    </figure>
    
          
  <p class="call-to-action"><a href="/speakers/">Meet them all</a></p>

  </article>
</section>

<section id="news" class="boxes clearfix">
  <div class="column half">
    <hgroup>
      <h2>News<br>
      <span>the latest buzz</span></h2>
    </hgroup>
    
    {% for post in site.posts limit: 1 %}
      <article class="news">
        <hgroup>
          <h3><a href="{{ post.url }}">{{ post.title }}</a></h3>
          <p class="writer">{{ post.date | date_to_string }} / {{ post.author }}</p>
        </hgroup>
        {{ post.content | truncate: 300 }}
        <p class="call-to-action"><a href="{{ post.url }}">Read full article</a></p>
		  </article>
		{% endfor %}
		
    {% for post in site.posts limit: 3 offset: 1 %}
      <article class="news">
        <h3><a href="{{ post.url }}">{{ post.title }}</a></h3>
        <p class="writer">{{ post.date | date_to_string }} / {{ post.author }}</p>
		  </article>
		{% endfor %}
    
    <p class="call-to-action"><a href="/archive/">View archive</a></p>
  </div>
  
  <div class="column half">
    <hgroup>
      <h2>Tweets<br>
      <span>hear what the bird says</span></h2>
    </hgroup>
    
    <div id="tweets"><p style="text-align:center;"><img src="/img/ajax-loader.gif"></p></div>
    <p class="call-to-action"><a href="http://twitter.com/#!/turkuagileday">Follow us</a></p>
  </div>
  
</section>
<section id="sponsors">
  <h2>Sponsors</h2>
  
  <ul id="sponsor-groups">
    <li class="active">
      <h3>Gold sponsors</h3>
      <p>
        <a href="http://eficode.fi/" class="sponsor"><img src="/sponsors/logos/eficode.png" alt="Eficode"></a>
        <a href="http://www.siili.fi/" class="sponsor"><img src="/sponsors/logos/siili.png" alt="Siili"></a>
        <a href="http://www.qentinel.com/" class="sponsor"><img src="/sponsors/logos/qentinel.png" alt="Qentinel"></a>
        <a href="http://turkusciencepark.com/" class="sponsor"><img src="/sponsors/logos/tscp.png" alt="Turku Science Park"></a>
      </p>
    </li>
    <li class="next">
      <h3>Silver sponsors</h3>
      <p>
        <a href="http://leonidasoy.fi/" class="sponsor"><img src="/sponsors/logos/leonidas.png" alt="Leonidas"></a>
        <a href="https://vaadin.com/" class="sponsor"><img src="/sponsors/logos/vaadin.png" alt="Vaadin"></a>
        <a href="http://mearra.com/" class="sponsor"><img src="/sponsors/logos/mearra.png" alt="Mearra"></a>
      </p>
    </li>
    <li>
      <h3>Basic sponsors</h3>
      <p>
        <a href="http://www.ecom.fi/" class="sponsor"><img src="/sponsors/logos/ecom.png" alt="Ecom"></a>
        <a href="http://www.poutapilvi.fi/" class="sponsor"><img src="/sponsors/logos/poutapilvi.png" alt="Poutapilvi"></a>
        <a href="http://www.avoltus.com/" class="sponsor"><img src="/sponsors/logos/avoltus.png" alt="Avoltus"></a>
      </p>
    </li>
    <li>
      <h3>Partners</h3>
      <p>
        <a href="http://www.aucor.fi" class="sponsor"><img src="/sponsors/logos/aucor.png" alt="Aucor"></a>
        <a href="http://turkusciencepark.com/" class="sponsor"><img src="/sponsors/logos/tscp.png" alt="Turku Science Park"></a>
        <a href="http://www.turku.fi/" class="sponsor"><img src="/sponsors/logos/turku.png" alt="City of Turku"></a>
        <a href="http://www.f-secure.com/" class="sponsor"><img src="/sponsors/logos/f-secure.png" alt="F-Secure"></a>
      </p>
    </li>
  </ul>
  <p class="call-to-action"><a href="/sponsors/">View the full listing</a></p>
</section>

<section id="coffee" class="boxes clearfix">
  <div class="column third">
    <hgroup>
      <p class="preheading">and one more thing</p>
      <h2>The Coffee<br>
      <span>will be amazing</span></h2>
    </hgroup>
    <p>This year the attendees may enjoy maybe the best coffee in Finland when our dear friends from <a href="http://www.cafeart.fi/">Café Art</a> bring their delicious beans to our lounge.</p>
  </div>
  <div class="column two-thirds">
    <a href="http://www.flickr.com/photos/akisalmi/sets/72157627034870345/"><img src="/img/cafeart_wide.jpg" alt="Coffee from Café Art"></a>
  </div>
</section>