---
layout: default
classes: front
---
<h1 id="punchline"><a href="https://registration.turkuagileday.fi/" style="text-decoration: underline;">Register now</a> to <strong>Turku Agile Day</strong>, the coziest agile software<br> development conference that will be back in 14th to 15th May 2013</h1>

<section class="boxes clearfix">
 <article class="column third">
 <hgroup>
   <p class="preheading">with</p>
   <h2><span class="count">2</span> days <br><span>full of knowledge</span></h2>
 </hgroup>
 <p class="call-to-action"><a href="/schedule/">Schedule</a></p>
 </article>

 <article class="column third">
 <hgroup>
   <p class="preheading">from</p>
   <h2><span class="count">4</span> workshops <br><span>on May 14<sup>th</sup></span></h2>
 </hgroup>
 <p class="call-to-action"><a href="/topics/">Learn more</a></p>
 </article>

 <article class="column third">
 <hgroup>
   <p class="preheading">to</p>
   <h2><span class="count">14</span> talks <br><span>on May 15<sup>th</sup></span></h2>
 </hgroup>
 <p class="call-to-action"><a href="/topics/#talks">Learn more</a></p>
 </article>
</section> 

<section id="news" class="boxes clearfix">
  <div class="column half">
    <hgroup>
      <h2>News<br>
      <span>the latest buzz</span></h2>
    </hgroup>
    
    {% for post in site.posts limit: 1 %}
      <article class="news">
        <hgroup>
          <h3><a href="{{ post.url }}">{{ post.title }}</a></h3>
          <p class="writer">{{ post.date | date_to_string }} / {{ post.author }}</p>
        </hgroup>
        {{ post.content | truncate: 300 }}
        <p class="call-to-action"><a href="{{ post.url }}">Read full article</a></p>
		  </article>
		{% endfor %}
		
    {% for post in site.posts limit: 3 offset: 1 %}
      <article class="news">
        <h3><a href="{{ post.url }}">{{ post.title }}</a></h3>
        <p class="writer">{{ post.date | date_to_string }} / {{ post.author }}</p>
		  </article>
		{% endfor %}
    
    <p class="call-to-action"><a href="/archive/">View archive</a></p>
  </div>
  
  <div class="column half">
    <hgroup>
      <h2>Tweets<br>
      <span>hear what the bird says</span></h2>
    </hgroup>
    
    <div id="tweets"><p style="text-align:center;"><img src="/img/ajax-loader.gif"></p></div>
    <p class="call-to-action"><a href="http://twitter.com/#!/turkuagileday">Follow us</a></p>
  </div>
  
</section>

<section id="sponsors">
<h2>Sponsors</h2>

<ul id="sponsor-groups">
 <li class="active">
   <h3>Silver sponsors</h3>
   <p>
    <a href="http://www.agile42.com" class="sponsor"><img src="/sponsors/logos/agile42.png" alt="Agile 42"></a>
    <a href="https://vaadin.com" class="sponsor"><img src="/sponsors/logos/vaadin.png" alt="Vaadin"></a>
   </p>
 </li>
 <li class="next">
   <h3>Basic sponsors</h3>
   <p>
    <a href="http://www.wunderkraut.com" class="sponsor"><img src="/sponsors/logos/wunderkraut.png" alt="Wunderkraut"></a>
    <a href="http://www.ecom.fi" class="sponsor"><img src="/sponsors/logos/ecom.png" alt="Ecom"></a>
   </p>
 </li>
 <li>
   <h3>Partners</h3>
   <p>
     <a href="http://www.aucor.fi" class="sponsor"><img src="/sponsors/logos/aucor.png" alt="Aucor"></a>
     <a href="http://www.utu.fi/fi/yksikot/bid/" class="sponsor"><img src="/sponsors/logos/bid.png" alt="BID"></a>
     <a href="http://www.turku.fi/" class="sponsor"><img src="/sponsors/logos/turku.png" alt="City of Turku"></a>
   </p>
 </li>
</ul>
<p class="call-to-action"><a href="/sponsors/">View the full listing</a></p>
</section>

<section id="coffee" class="boxes clearfix">
  <div class="column third">
    <hgroup>
      <p class="preheading">and one more thing</p>
      <h2>The Coffee<br>
      <span>will be amazing</span></h2>
    </hgroup>
    <p>This year the attendees may enjoy maybe the best coffee in Finland when our dear friends from <a href="http://www.cafeart.fi/">Café Art</a> bring their delicious beans to our lounge.</p>
  </div>
  <div class="column two-thirds">
    <a href="http://www.flickr.com/photos/akisalmi/sets/72157627034870345/"><img src="/img/cafeart_wide.jpg" alt="Coffee from Café Art"></a>
  </div>
</section>
