<section id="cites">
  <ul>

    <li>
      <blockquote>
        <p>Thanks to all #tad012 organizers and speakers! It really is the coziest conference around. Met some great people and loved the coffee!</p>
      </blockquote>
      <p class="behind"><span class="name">Olli Helttula</span><br> on twitter after #tad012</p>
    </li>

    <li>
      <blockquote>
        <p>"This must be the most caffeinated audience I've ever had"</p>
      </blockquote>
      <p class="behind"><span class="name">Linda Rising</span><br> at #tad012</p>
    </li>

    <li>
      <blockquote>
        <p>Have been at #tad012 for 5 hours and</br>have already learned more than in all conferences this year</p>
      </blockquote>
      <p class="behind"><span class="name">Vasco Duarte</span><br> on twitter after #tad012</p>
    </li>

    <li class="active">
      <blockquote>
        <p>Turku Agile Day 2011 is one of the nicest agile conferences <br>I have experienced. Its small and cosy. Its authentic!</p>
      </blockquote>
      <p class="behind"><span class="name">Mike Sutton</span><br> on twitter after #tad011</p>
    </li>
    <li class="next">
      <blockquote>
        <p>Clearly I have to save room in my schedule for <br>Turku Agile Day 2012, #tad011 sounded SO AWESOME</p>
      </blockquote>
      <p class="behind"><span class="name">Lisa Crispin</span><br> on twitter after #tad011</p>
    </li>
    <li>
      <blockquote>
        <p>#lessonsFromTurku <br>NEVER go out drinking with Finnish students. Ever.</p>
      </blockquote>
      <p class="behind"><span class="name">Mike Sutton</span><br> on twitter after #tad011</p>
    </li>
  </ul>
</section>
