	<footer id="colophon">
	  <div class="inner">
      <div class="column half">
        <hgroup>
          <p class="preheading">brought to you by</p>
          <h2>Turku Agile Group</h2>
        </hgroup>
              
        <p><a href="mailto:info@turkuagileday.fi">info@turkuagileday.fi</a></p>
        
        <p>Ville Manninen<br>
        <a href="mailto:ville@turkuagileday.fi">ville@turkuagileday.fi</a><br>
        +358 40 679 8318</p>
        <p><a href="https://twitter.com/turkuagileday"><i class="icon-twitter-sign"></i> Follow us on Twitter!</a></p>
      </div>
      
      <div class="column half student-organizations">
        <hgroup>
          <p class="preheading">and student organizations</p>
        </hgroup>
      
        <a href="http://www.digit.fi"><img src="/img/digit.png" alt="Digit ry"></a>
        <a href="http://www.asteriski.fi" class="asteriski"><img src="/img/asteriski.png" alt="Asteriski ry"></a>
      </div>
      
      <div class="column half site-sponsor">
        <hgroup>
          <p class="preheading">site built by <a href="http://www.aucor.fi" class="aucor"><img src="/img/aucor.png" alt="Aucor Oy"></a></p>
        </hgroup>
        
      </div>
    </div>
	</footer>
</div>

<script src="/js/libs/jquery-1.11.1.min.js"></script>
<script src="/js/scripts.js"></script>

<script>
	var _gaq=[['_setAccount','UA-29109878-1'],['_trackPageview']];
	(function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];g.async=1;
	g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
	s.parentNode.insertBefore(g,s)}(document,'script'));
</script>

<!--[if lt IE 7 ]>
	<script src="//ajax.googleapis.com/ajax/libs/chrome-frame/1.0.2/CFInstall.min.js"></script>
	<script>window.attachEvent("onload",function(){CFInstall.check({mode:"overlay"})})</script>
<![endif]-->

</body>
</html>
